*_files/
*_cache/
data/
json/
plots/
posteriors/
renv/*
!renv/activate.R
!renv/settings.json
*.Rcheck/
stan/**/*
!stan/*/
!stan/**/*.stan

local.R

.\#*
.Rhistory
*.o
*.so
.token.gpg
*.~undo-tree~

*.html
*.docx
*.org
*.pdf

*.RData
*.rda
*.rds
*.dta
*.sav

*.tar.gz
*.zip
*.zst
