*_files/
*_cache/
data/
json/
plots/
posteriors/
*.Rcheck/
stan/*
!stan/*.stan

.\#*
.Rhistory
*.o
*.so
.token.gpg
*.~undo-tree~

*.html
*.docx
*.org
*.pdf

*.RData
*.rda
*.rds
*.dta
*.sav

*.tar.gz
*.zip
*.zst
